%parent-frame {
  //border: 2px solid red !important;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -24px;
    z-index: -1;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    border: 16px solid transparent;
    border-top-color: $color-option-bg;
    transition: all .3s ease-in-out;
  }
}

%map-item-frame {
  //border: 3px solid $gray;
  padding: 15px;
  border-radius: 4px;
}

%hide-row {
  display: none;
}

%show-row {
  display: flex;
  flex-direction: column;
}
