$grid-width-tablet: 768px;
$grid-width-desktop: 980px;
$grid-width-mobile: 680px;

$max-columns : 3;
$max-rows : 7;

$gray : #8c8c8c;
$light-gray : #eFeFef;

$color-primary: #538BDD;
$background-color: white;

$color-link: darken($color-primary, 20%);

$color-option-bg: $background-color;
$color-option-bg-active: $background-color;
$color-option-bg-inactive: lighten($color-primary, 20%);
$color-option-text: $color-primary;
$color-option-placeholder-light: #EEEEEE;
$color-option-inactive: #888;

$color-line-inactive: #ddd;
$color-line-hover: $color-primary;
$color-line-active: $color-primary;

$line-width: 2px;
$line-style: solid;


$error : red;
