$max-columns : 3;
$max-rows : 7;

$gray : #8c8c8c;
$light-gray : #eFeFef;

$color-option-bg: #538BDD;
$color-option-bg-active: #538BDD;
$color-option-bg-inactive: lighten(#4997DB, 20%);
$color-option-text: #fff;
$color-option-placeholder-light: #EEEEEE;
$color-option-inactive: #888;

$color-line-inactive: #ddd;
$color-line-hover: $color-option-bg-active;
$color-line-active: $color-option-bg-active;

$line-width: 2px;
$line-style: solid;


$error : red;
