.map-col {
  @extend %map-item-frame;

  &, .map-col-blank {
    position: relative;
    color: $color-option-text;
    justify-content: center;
    z-index: 1;
    min-height: 100px;
    display: flex;
    width: 30%;
    min-width: 100px;
    align-items: center;
    flex-direction: column;
    background-color: $color-option-bg;
  }

  &.active {
    background-color: $color-option-bg-active;
    &::after {
      display: none;
    }
  }
  &.not-selected {
    background-color: $color-option-bg-inactive;
    &::after {
      border-top-color: $color-option-bg-inactive;
    }
  }
  &:hover {
    background-color: $color-option-bg-active;
    &::after {
      border-top-color: $color-option-bg-active;
      bottom: -32px;
    }
  }

  textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.parent {
    @extend %pulse;
    @extend %map-item-frame;
    @extend %parent-frame;
    cursor: pointer;

    &:hover {
      //background-color: #F3F3F3;
    }
  }
}

.node-remover {
  align-self: flex-end;
}
