.map-col {
  @extend %map-item-frame;
  .map-list & {
    opacity: .7;
    &::after {
      display: none;
    }
  }
  &, .map-col-blank {
    position: relative;
    color: $color-option-text;
    justify-content: center;
    z-index: 1;
    min-height: 100px;
    display: flex;
    width: 30%;
    min-width: 100px;
    align-items: center;
    flex-direction: column;
    background-color: $color-option-bg;
  }
  textarea {
    color: $color-option-text;
  }
  &.not-selected {
    opacity: .3;
    &::after {
      opacity: .3;
    }
  }
  &.map-placeholder {
    border: 1px solid $light-gray;
    background-color: $light-gray;
  }
  &.active {
    @extend %placeholder-light;
    background-color: $color-option-bg-active;
    &::after {
      display: none;
    }
  }
  &:hover {
    background-color: $color-option-bg-active;
    opacity: 0.9;
    @extend %placeholder-light;
    &::after {
      opacity: 1;
      border-top-color: $color-primary;
    }

  }

  textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.parent {
    @extend %map-item-frame;
    @extend %parent-frame;
    cursor: pointer;

    &:hover {
      //background-color: #F3F3F3;
    }
  }
}

.node-remover {
  align-self: flex-end;
}


%placeholder-light {
  ::-webkit-input-placeholder {
    color: $color-option-placeholder-light;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color-option-placeholder-light;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color-option-placeholder-light;
  }

  :-ms-input-placeholder {
    color: $color-option-placeholder-light;
  }
}
