footer {
  text-align: right;
  border-top: solid 1px #ddd;
  padding: 10px 40px;
  margin: 60px -40px -20px;
  display: flex;
  justify-content: space-between;
  &.about {
    a {
      color: #538BDD;
      margin-left: 20px;
      font-size: .8rem;
    }
  }
}
