header {
  padding: 20px;
  box-shadow: 0 1px 2px 0 darken($color-primary, 10%);
  position: relative;

  background-color: $color-primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header-wrapper {
    min-width: 600px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  h1 {
    margin: 0;
    color: white;
    font-weight: 200;
    letter-spacing: 0.03em;
  }
  img {
    margin-left: -20px;
    height: 80px;
  }

  &.small {
    padding: 5px;
    margin-top: 40px;
    img {
      margin-left: 0;
      height: 40px;
    }
    span {
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: .03em;
      color: white;
      position: relative;
      top: -14px;
      &::before {
        content: '|';
        margin-right: .5em;
        position: relative;
        top: -1px;
      }
    }
  }
}

.login-link {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 70px;
  top: 50px;
  display: inline-block;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .05em;
  background-color: rgba(255,255,255,.4);
  transition: background-color ease-in-out .2s;
  &:hover {
    background-color: rgba(255,255,255,.5);
  }
}
