.map-lines {
  width: 36%;
  min-height: 45px;
  //border: 0px solid transparent;
  padding: 15px;
  border: 0 dashed $color-option-inactive;
  //border-image: url('/assets/dotted.png') round;
  //border-image-slice: 33%;
  &.bottom {
    border-bottom-width: 4px;
  }

  &.left {
    border-left-width: 4px;

    &.left-active {
      border-left-color: red;
    }

  }

  &.top {
    border-top-width: 4px;

    &.top-active {
      border-top-color: red;
    }
  }

  &.right {
    border-right-width: 4px;

    &.right-active {
      border-right-color: red;
    }
  }

  &.single {
    width: 72%;
  }
}

.map-lines-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
