.map-wrapper {
  padding-bottom: 40px;
}

.map-meta {
  .creator {
    padding-top: 20px;
    text-align: right;
  }
  .creator-name {
    font-weight: bold;
    margin-left: .3rem;
  }
}

.col-input {
  width: 100%;
  box-sizing: border-box;
}


