.map-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  .map-item {
    @include respond-to(tablet) {
      width: calc(50% - 10px);
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
    position: relative;
    width: 100%;
    padding-bottom: 75px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px $color-option-bg;
    &:hover {
      outline: 1px solid $color-option-bg;
    }
  }

  .map-link {
    display: block;
  }

  .map-image {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }

  .map-title {
    font-size: 2rem;
    padding: 0 20px;
  }

  .map-description {
    margin-top: 20px;
    padding: 0 20px;
  }

  .map-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: $color-option-bg;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .02em;
    width: 100%;
    bottom: 0;
    lefT: 0;
    .label {
      font-weight: bold;
    }
  }


  .map-created {
    text-align: right;
  }
}
