.map-header {
  background-color: lighten($color-primary, 20%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 -40px 20px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px #333;

  .map-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 3rem;
    letter-spacing: .02em;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    height: 100%;
    display: flex;
    justify-content: center;
  }
}

.map-wrapper.embed {
  padding: 0 40px 20px;
}

.map-meta {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .creator {
    text-align: right;
  }
  .creator-name {
    font-weight: bold;
    margin-left: .3rem;
  }
}

.owner-buttons {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 80px;
  a {
    margin-right: 20px;
  }
}

.col-input {
  width: 100%;
  box-sizing: border-box;
}

@mixin image-icon($url) {
  .icon-image {
    align-self: flex-end;

    &::before {
      background-image: url($url);
      background-size: 1em !important;
      width: 1em !important;
      margin-right: 0px !important;
    }
  }
}

.solvee {
  @include image-icon('/assets/icon-image.svg');
}

.pink {
  @include image-icon('/assets/icon-image-pink.svg');
}

.autumn {
  @include image-icon('/assets/icon-image-autumn.svg');
}

.dark {
  @include image-icon('/assets/icon-image-dark.svg');
}

.option-text {
  margin-top: 10px;
}

.map-col {
  .img-wrapper {
    position: relative;
    height: 120px;
    overflow: hidden;
    display: none;
    &.option-image {
      display: block;
    }
  }
  img {
    position: absolute;
    width: 100%;
    left: 0;
  }
}
