.sharing {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  background-color: white;

  .embed-code {
    display: none;
    padding: 20px;
    &.active {
      display: block;
    }
    .embed-info {
      margin-bottom: 10px;
    }
    .embed-tooltip {
      font-style: italic;
      font-size: .8rem;
      color: #888;
      width: 620px;
      margin: 10px auto;
      text-align: left;
      display: none;
      &.active {
        display: block;
      }
    }
    textarea {
      display: block;
      width: 620px;
      margin: 0 auto;
      resize: none;
      border: 1px solid #ccc;
      padding: 5px;
      font-family: monospace;
      height: 25px;
    }
  }

  button, a {
    @extend .btn-secondary;
    padding-left: 50px;
    margin-left: 20px;
    &:first-of-type {
      margin-left: 0;
    }
    .icon {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      padding: 8px 10px 0 11px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #aaa;
    }
    &:before {
      display: none;
    }
  }
}

.icon {
  &::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    position: relative;
    height: 1.5em;
    top: 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5em;
  }
}

.icon-fb {
  &::before {
    background-image: url('/assets/icon-fb.svg');
  }
}

.icon-embed {
  &::before {
    background-image: url('/assets/icon-embed.svg');
  }
}
