extends ./layouts/default

block title
    title About Solvee

block header-text
    h1 About Solvee

block js

block content
    div.about
        h3
            | Our motivation
        p
            | Studies show that an adult person takes on average 226.7 only food-related decisions per day (Wansink and Sobal, 2007). No matter how trivial are they, tens of thousands of decisions per day make a significant workload for our your.
            | As a consequence, even while taking slightly more meaningful decisions we don't always have an expert we could ask for an advise or the time to read through long Internet blog posts and articles.

        h3
            | Mission

        p
            | Solvee is a platform created out of love for simplification, knowledge sharing and analytical approach to everyday problems.
            | We believe that collective intelligence of Internet users can help us in everyday life, to make the right decisions faster and save our attention for the things that really matter.

        h3
            | The team

        p
            | We are IT enthusiasts, ready to spend our evenings coding, to provide you with the solutions that we believe it. If you share our passion and would like to help us develop Solvee, feel free to
            a(href='mailto:contact@solvee.click')
                | contact us
            |.

        h3
            | Disclaimer
        p
            | Solvee is currently an after-hours project, in the alpha tests phase. If you see any bugs or have the ideas of enhancements that could help you use Solvee, give us the
            a(href='mailto:feedback@solvee.click')
                | feedback
            | . The platform is provided 'as is' and in no event shall the author be liable for any special, direct, indirect or consequential damages or any damages whatsoever resulting from usage.


        p
            | The content of the maps is created by the Internet users, who, by submitting the maps and links to the photos, confirm that they are the authors and owners of the copyrights to the pictures and agree to share them free of charge. If you encounter any content that violates your copyrights or harms your feelings and would like to see it taken down, do not hesitate to
            a(href='mailto:issue@solvee.click')
                | let us know
            |.

        h3
            | Thank you for dropping by
        p
            | Thank you for using Solvee and therfore helping us to test and develop it. We are waiting to hearing from you!
