extends ./layouts/default

block title
  title Edit user

block header-text
  h1 Account settings

block js
  script(src="/assets/users.js")

block content
  form#user-form
    .field-container
      label Name
      input#name(value=user.name,required=true)
    .field-container
      label Email
      input#email(value=user.email, type='email', required=true)
    .field-container
      button(type='submit') Save
  hr

  div
    a.btn-secondary(href='/maps/current') My maps
