include ./map-items.jade

html
    head
        link(rel="stylesheet", type="text/css", href="main.css")
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/jquery.scrollto/jquery.scrollTo.min.js")
        script(src="node_modules/autosize/dist/autosize.min.js")
        script(src="create-map-logic.js")
        title= title
    body
        h1= title
        div.map-wrapper
            form#map-form
                div(class='map-row')
                    each option, index in options
                        +map-item(option, 'col-' + index)
                //+child-rows(options)
