extends ./layouts/default

include ./mixins/map-items.jade

block title
  title= 'Edit your decision map'

block js
  script(src="/assets/editor.js")

block header-text
  h1= 'Edit '

block content
  include ./partials/map-creator.jade


