extends ./layouts/embed

include ./mixins/map-items.jade

block js
  script(src="/assets/main.js")

block title
  title= name

block content
  div(class='map-wrapper embed ' + style)
    .map-header(style='background-image:url(' + mapCoverUrl + ')')
      h2.map-title= name
    .map-meta
      .creator Created by:
        a.creator-name(href='/maps/users/'+ userId)= username
    .map-row
      each option, index in map.options
        +map-item(option, 'col-' + index)
    +child-rows(map.options)
  header.small
    .header-wrapper
      a(href='env')
        img.header-logo(src='/assets/logo/logo_white.svg')
        span Create your own decision maps
