extends ./layouts/default

include ./mixins/map-items.jade

block title
  title= 'Your own decision map'

block js
  script(src="/assets/builder.js")

block header-text
  h1= 'Build your own decision map'

block content
  include ./partials/map-creator.jade


