extends ./layouts/default

include ./mixins/map-items.jade
-env = 'http://www.solvee.click/maps/show/'

block title
    title= name

block js
    script(src="/assets/builder.js")

block header-text
    h1= name

block content
    div#so='Please enable javascript'

