include ./map-items.jade

html
    head
        link(rel="stylesheet", type="text/css", href="/assets/styles.css")
        script(src="/assets/main.js")
        title= title
    body
        include ./analytics.jade
        //include ./mixpanel.jade
        h1= title
        div.map-wrapper
            div(class='map-row')
                each option, index in options
                    +map-item(option, 'col-' + index)
            +child-rows(options)
