extends ./layouts/default

include ./mixins/map-items.jade
-env = 'http://www.solvee.click/maps/show/'

block js
  script(src="/assets/main.js")

block title
  title= name

block header-text
  h1= name

block content
  .map-wrapper
    .map-header(style='background-image:url(' + mapCoverUrl  + ')')
      h2.map-title= name
    .map-meta
      if (isOwner)
      .creator Created by:
        a.creator-name(href='http://www.localhost:3000/maps/users/'+ userId)= username
    .map-row
      each option, index in map.options
        +map-item(option, 'col-' + index)
    +child-rows(map.options)
    .owner-buttons
      a.btn-secondary#edit-map(href='http://www.localhost:3000/maps/build/' + id) Edit
      a.btn-secondary#delete-map Delete
    include ./partials/sharing.jade
