extends ./layouts/default

block title
    title Service Privacy Policy

block header-text
    h1 Solvee Privacy Policy

block js

block content
    div.about
      h3
        | Solvee Privacy Policy

      br
      | 1.  General Information.
      br
      | The Service gathers information about users and their behaviour in the following ways:
      p
        |  a.  Through information entered in forms voluntarily.
        br
        |  b.  Through cookie files saved in end-devices (so-called "cookies").
        br
        |  c.  Through collecting web server logs by web hosting provider

      br
      |  2. Information in forms.
      p
        br
        |  1.  The Website gathers information voluntarily provided by users.
        br
        |  2.  The Website can also save information about connection settings (time, IP address)
        br
        |  3.  The data in the forms is not shared with third parties unless agreed upon with the user.
        br
        |  4.  The data provided in the form may be a set of potential customers, registered by the Website Operator in the register kept by the Inspector General for Personal Data Protection.
        br
        |  5.  The data contained in the form is processed to meet the aim of a specific form, for example, to process a service request or contact sales clients.
        br
        |  6.  The data provided in the form can be forwarded to subjects that implement certain technical services - this concerns the provision of information about the owner of a registered domain to subjects that are operators of Internet domains (primarily the Research and Academic Computer Network jbr - NASK), services that support payments or other subjects with which the Website Operator cooperates in this field.

      br
      |  3. Information about cookie files.
      p
        br
        |  1.  The Website uses cookies.
        br
        |  2.  Cookie files (so-called "cookies") are computer data, mainly text files, that is stored in end-devices of the Website User and is intended for use with the pages of the Web Servbr
        |ice. Typically, cookies contain the name of a website from which they come, their storage time on end-devices and a unique number.
        br
        |  3.  The Website Operator places cookies in Website Users' end-devices and has direct access to them.
        br
        |  4.  Cookies are used for the following purposes:
        br
        |  a. creating statistics that help to understand how Website Users use web pages, which may lead to improvement of the structure and its content;
        br
        |  b. maintaining Website Users' session (after logging in) due to which each user does not have to retype the name and password after browsing the pages;
        br
        |  c. determining user profile in order to display advertising materials that are matched to this profile, in particular Google Network.

        br
        |  5.  The Website uses mainly two basic types of cookies: session cookies and persistent cookies. Session cookies are temporary files that are stored in the end-device of the User until logging-out, leaving the website or turning off the software (web browser). Persistent cookies are stored in the end-device of the User for a specified time that is determined in cookie parameters or until the User deletes them.
        br
        |  6.  Software for browsing websites (a browser) usually allows storing cookies on users' end-devices by default. Website Users can change these settings. The web browser allows deleting cookies. It is also possible to block cookies automatically. Details of how to do so can be found in the help section or the browser documentation.
        br
        |  7.  Restrictions on the use of cookies may influence some of the functions available on the Website pages.
        br
        |  8.  Advertisers and partners cooperating with the Website Operator can also use cookies placed on Website Users’ end-devices.
        br
        |  9.  We recommend that you read the privacy protection policies of these companies to be aware  how cookie files are used in statistics: Google Analytics Privacy Policy
        br
        | 10.  Ad networks may use cookies, especially Google, to display ads that are matched to the specific use of the Website. They may keep the information about the user's navigation paths and time spent on a given page.
        br
        | 11.  In terms of information on user preferences gathered by the Google ad network, each user can view and edit the information in the cookies with the use of the following tool: https://www.google.com/ads/preferences/

      br
      |  4.  Server logs.

      p
        br
        |  1.  Information about some user behaviour is subject to logging-in into the server layer. This data is used only to administer the Website and provide the most efficient use of hosting services.
        br
        |  2.  Browsed resources are identified by URL addresses. Moreover, the following may also be saved:
        br
        |  a. request time,
        br
        |  b. reply sending time,
        br
        |  c. name of the client's station - the identification is carried out by the HTTP protocol,
        br
        |  d. information about errors that occurred during implementation of the HTTP transaction,
        br
        |  e. URL address of the previously visited page (referrer link) - if the Website was entered through a reference link,
        br
        |    f. information about the user's browser,
        br
        |    g. IP address.

        br
        |  3.  The aforementioned data is not associated with individual persons viewing the pages.
        br
        |  4.  The data is used only for server administration purposes.

      br
      |  5. Providing data.
      p
        br
        |  1.  The data can be made available to third parties only within legally allowed limits
        br
        |  2.  The data that enables identifying a given user is made available only upon the user's consent.
        br
        |  3.  The Operator may be required to provide the information gathered by the Website to authorised bodies based on legitimate demands arising from the demand.

        br
        |  6. Managing cookie files - how to give and withdraw consent in practice?

        br
        |  1.  If the User does not wish to receive cookie files, he may change the browser settings. However, it is worth noting that disabling cookies that are necessary for the processes of authentication, security, maintenance, and user preferences can hinder, and in some cases, prevent the user from viewing web pages.
