ul.menu

  if (currentUser != undefined)
    li
      |Hi
      span=currentUser.name
    li
      a(href='/users/edit') Account
    li
      a(href='/auth/logout') Logout
  else
    li
      a(href='/auth/facebook') Login using Facebook