if (currentUser != undefined)
  ul.menu
    li#name-menu
      a(href='/users/edit') Hi, #{currentUser.name}
  ul.menu
    li#recent-maps-menu
      a(href='') recent
    li#build-menu
      a(href='/maps/build') Create map
    li#user-menu
      a(href='/users/edit') Account
    li#logout-menu
      a(href='/auth/logout') Logout
else
  ul.menu
    li#login-menu
      a(href='/auth/facebook') Login
