ul.menu
  if (currentUser != undefined)
    li#name-menu
      | Hi
      span=currentUser.name
    li#recent-maps-menu
        a(href='') recent
    li#build-menu
      a(href='/maps/build') Create map
    li#user-menu
      a(href='/users/edit') Account
    li#logout-menu
      a(href='/auth/logout') Logout
  else
    li#login-menu
      a(href='/auth/facebook') Login using Facebook