.sharing
  //#fb-root
  //script.
  //    (function(d, s, id) {
  //        var js, fjs = d.getElementsByTagName(s)[0];
  //        if (d.getElementById(id)) return;
  //        js = d.createElement(s); js.id = id;
  //        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1701793583393254";
  //        fjs.parentNode.insertBefore(js, fjs);
  //    }(document, 'script', 'facebook-jssdk'));
  //script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  //div.fb-like(data-href= env + id, data-layout='box_count', data-share="true", data-action='like')
  //a.twitter-share-button(href=env + id, data-hashtags='solvee') Tweet
  .embed-code
    .embed-info
      | Add the following code to your page
    textarea
      | var someEmbed=true;f dasf dsa; dssadsa
    .embed-tooltip
      | Ctrl+C / Cmd+C to copy to clipboard

  a(href='http://www.facebook.com/sharer.php?u=' + env + map.id)
    span.icon.icon-fb
    span.share-label Share on Facebook
  a#embed
    span.icon.icon-embed
    span.share-label Embed on your page
