.sharing
  .embed-code
    .embed-info
      | Add the following code to your page
    textarea
      | <script>window._mapsCfg={mapId:#{id}}</script><script id="solvee" type="text/javascript" src="//localhost:3000/assets/embed.js" async></script>
    .embed-tooltip
      | Ctrl+C / Cmd+C to copy to clipboard

  a(href='http://www.facebook.com/sharer.php?u=' + env + url)
    span.icon.icon-fb
    span.share-label Share on Facebook
  a#embed
    span.icon.icon-embed
    span.share-label Embed on your page
