.sharing
  .embed-code
    .embed-info
      | Add the following code to your page
    textarea
      | var someEmbed=true;f dasf dsa; dssadsa
    .embed-tooltip
      | Ctrl+C / Cmd+C to copy to clipboard

  a(href='http://www.facebook.com/sharer.php?u=' + env + map.id)
    span.icon.icon-fb
    span.share-label Share on Facebook
  a#embed
    span.icon.icon-embed
    span.share-label Embed on your page
