
.map-lines {
  width: 36%;
  min-height: 45px;
  border: 0px solid transparent;
  padding: 15px;
  -webkit-border-image: url(dotted.png) round; /* Safari 3.1-5 */
  -o-border-image: url(dotted.png) round; /* Opera 11-12.1 */
  border-image: url(dotted.png) round;
  border-image-slice: 33%;
  &.bottom {
    border-bottom-width: 10px;
  }

  &.left {
    border-left-width: 10px;
  }

  &.top {
    border-top-width: 10px;
  }

  &.right {
    border-right-width: 10px;
  }

  &.single {
    width: 72%;
  }
}

.map-wrapper {
  min-width: 600px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.map-row {
  display: flex;
  justify-content: space-between;
}

%hide-row {
  display: none;
}

%show-row {
  display: flex;
  flex-direction: column;
}

@mixin row-visible($id) {
  .stage-#{$id} {
    .map-row-#{$id} {
      @extend %show-row;
    }
  }
}

@mixin row-choice($id, $i) {
  .map-row-#{$id} { @extend %hide-row; }
  @include row-visible($id);

  @if ($i < $max-rows) {
    @for $j from 1 through $max-columns {
      @include row-choice($id+$j, $i+1);
    }
  }
}

@include row-choice('', 0);
.map-col {
  @extend %map-item-frame;

  textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.map-col, .map-col-blank {
  min-height: 100px;
  display: flex;
  width: 30%;
  min-width: 100px;
  align-items: center;
  flex-direction: column;
}

%map-item-frame {
  border: 3px solid $gray;
  background-color: #FDFDFD;
  padding: 15px;
  border-radius: 8px;
}

%parent-frame {
  border: 1px groove $light-gray;
  background-color: #FCFCFC;
}

.parent {
  @extend %pulse;
  @extend %map-item-frame;
  @extend %parent-frame;
  cursor: pointer;
}

.map-placeholder {
  border: 1px solid $light-gray;
  @extend %map-item-frame;
  background-color: $light-gray;
}

.parent:hover {
  background-color: #F3F3F3;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

%pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.map-lines-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.row-wrapper {
  width: 100%;
}

.col-input {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.ui-dialog-titlebar-close {
  display: none !important;
}

.node-remover {
  align-self: flex-end;
}

