extends ./../layouts/default

block title
    title Logged in

block content
  script(type='text/javascript').
    window.location.href = '../maps/list';

  span You have logged in! We'll redirect you to some more useful place.
